<h1>Detalhes da Venda</h1>
<p>ID: <%= venda.id %></p>
<p>Usuário: <%= venda.usuario_nome %></p>
<p>Produto: <%= venda.produto_nome %></p>
<a href="/vendas" class="btn btn-primary">Voltar para a Lista</a>
